# IDE and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.DS_Store

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

analisis_kepatuhan_pajak.md
.gitignore
implementation_plan_lanjutan
implementation_plan_modul_pajak